@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --main-bg-color: #fff; // Dinamically changed by jQuery
}

$color: #f3f3f3;

@mixin brightness($value) {
  -webkit-filter: brightness($value);
  -moz-filter: brightness($value);
  -o-filter: brightness($value);
  -ms-filter: brightness($value);
  filter: brightness($value);
}

body {  
  display: flex;
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg-color); 
  color: $color;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  margin: 0;
  padding: 0;
  & .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 1;
    z-index: -1;
  }
}

#quote-box {
  text-align: center;
  background-color: #1111119e;
  border-radius:5px;
  max-width: 550px;
  margin: auto;
  padding: 1.3em;
  opacity: 0.9;
  & .quote-category {
    border-bottom: solid 1px #bfbfbf40;
    font-weight: 300;
    padding: 0 0 1em 0;
  }
  & .quote-text {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.6em;
    padding: 1em 2em 0 2em;
    @include brightness(1.8);
  }
  & .quote-author {
    font-family: 'Handlee', cursive;
    font-style: italic; 
    font-size: 1.1em;
    font-weight: 300;    
    padding: 1em;
    text-align: right;
    color: $color;
    & #author {
      &::before { content: ' - '; }
      &::after { content: ' - '; }
    }
  }
  & .quote-buttons {
    border-radius: 5px;
    text-align: right;
    padding: 1em;
    & .button {
      display: inline-block;
      background-color: #111;
      border-radius: 5px;
      color: $color;      
      font-size: 1em;
      font-weight: 300;
      padding: 0.8em 1em;
      vertical-align: middle;
      border:none;
      opacity:0.8;
      cursor:pointer;
      &:hover {
        opacity:1;
      }
      & .button-text {
        @include brightness(1.5);
      }
    }
  }
}  